name: Backend deploy Hook

on:
    push:
        branches:
            - main
        paths:
            - "backend/**"
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Make a GET request to deploy hook
              run: curl -X GET ${{secrets.BACKEND_DEPLOY_HOOK}}
